<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Uppercase</key>
  <array>
    <string>A</string>
    <string>B</string>
    <string>C</string>
    <string>D</string>
    <string>E</string>
    <string>F</string>
    <string>G</string>
    <string>H</string>
    <string>I</string>
    <string>J</string>
    <string>K</string>
    <string>L</string>
    <string>M</string>
    <string>N</string>
    <string>O</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>S</string>
    <string>T</string>
    <string>U</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>Y</string>
    <string>Z</string>
    <string>Agrave</string>
    <string>Aacute</string>
    <string>Acircumflex</string>
    <string>Atilde</string>
    <string>Adieresis</string>
    <string>Aring</string>
    <string>AE</string>
    <string>Ccedilla</string>
    <string>Egrave</string>
    <string>Eacute</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Igrave</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Eth</string>
    <string>Ntilde</string>
    <string>Ograve</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Otilde</string>
    <string>Odieresis</string>
    <string>Oslash</string>
    <string>Ugrave</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Yacute</string>
    <string>Thorn</string>
    <string>Amacron</string>
    <string>Abreve</string>
    <string>Aogonek</string>
    <string>Cacute</string>
    <string>Ccircumflex</string>
    <string>Cdot</string>
    <string>Ccaron</string>
    <string>Dcaron</string>
    <string>Dcroat</string>
    <string>Emacron</string>
    <string>Ebreve</string>
    <string>Edotaccent</string>
    <string>Eogonek</string>
    <string>Ecaron</string>
    <string>Gcircumflex</string>
    <string>Gbreve</string>
    <string>Gdot</string>
    <string>Gcommaaccent</string>
    <string>Hcircumflex</string>
    <string>Hbar</string>
    <string>Itilde</string>
    <string>Imacron</string>
    <string>Ibreve</string>
    <string>Iogonek</string>
    <string>Idotaccent</string>
    <string>IJ</string>
    <string>Jcircumflex</string>
    <string>Kcommaaccent</string>
    <string>Lacute</string>
    <string>Lcommaaccent</string>
    <string>Lcaron</string>
    <string>Ldot</string>
    <string>Lslash</string>
    <string>Nacute</string>
    <string>Ncommaaccent</string>
    <string>Ncaron</string>
    <string>Eng</string>
    <string>Omacron</string>
    <string>Obreve</string>
    <string>Ohungarumlaut</string>
    <string>OE</string>
    <string>Racute</string>
    <string>Rcommaaccent</string>
    <string>Rcaron</string>
    <string>Sacute</string>
    <string>Scircumflex</string>
    <string>Scedilla</string>
    <string>Scaron</string>
    <string>Tcommaaccent</string>
    <string>Tcaron</string>
    <string>Tbar</string>
    <string>Utilde</string>
    <string>Umacron</string>
    <string>Ubreve</string>
    <string>Uring</string>
    <string>Uhungarumlaut</string>
    <string>Uogonek</string>
    <string>Wcircumflex</string>
    <string>Ycircumflex</string>
    <string>Ydieresis</string>
    <string>Zacute</string>
    <string>Zdotaccent</string>
    <string>Zcaron</string>
    <string>Aringacute</string>
    <string>AEacute</string>
    <string>Oslashacute</string>
    <string>Scommaaccent</string>
    <string>Alphatonos</string>
    <string>Epsilontonos</string>
    <string>Etatonos</string>
    <string>Iotatonos</string>
    <string>Omicrontonos</string>
    <string>Upsilontonos</string>
    <string>Omegatonos</string>
    <string>Alpha</string>
    <string>Beta</string>
    <string>Gamma</string>
    <string>Delta</string>
    <string>Epsilon</string>
    <string>Zeta</string>
    <string>Eta</string>
    <string>Theta</string>
    <string>Iota</string>
    <string>Kappa</string>
    <string>Lambda</string>
    <string>Mu</string>
    <string>Nu</string>
    <string>Xi</string>
    <string>Omicron</string>
    <string>Pi</string>
    <string>Rho</string>
    <string>Sigma</string>
    <string>Tau</string>
    <string>Upsilon</string>
    <string>Phi</string>
    <string>Chi</string>
    <string>Psi</string>
    <string>Omega</string>
    <string>Iotadieresis</string>
    <string>Upsilondieresis</string>
    <string>afii10023</string>
    <string>afii10051</string>
    <string>afii10052</string>
    <string>afii10053</string>
    <string>afii10054</string>
    <string>afii10055</string>
    <string>afii10056</string>
    <string>afii10057</string>
    <string>afii10058</string>
    <string>afii10059</string>
    <string>afii10060</string>
    <string>afii10061</string>
    <string>afii10062</string>
    <string>afii10145</string>
    <string>afii10017</string>
    <string>afii10018</string>
    <string>afii10019</string>
    <string>afii10020</string>
    <string>afii10021</string>
    <string>afii10022</string>
    <string>afii10024</string>
    <string>afii10025</string>
    <string>afii10026</string>
    <string>afii10027</string>
    <string>afii10028</string>
    <string>afii10029</string>
    <string>afii10030</string>
    <string>afii10031</string>
    <string>afii10032</string>
    <string>afii10033</string>
    <string>afii10034</string>
    <string>afii10035</string>
    <string>afii10036</string>
    <string>afii10037</string>
    <string>afii10038</string>
    <string>afii10039</string>
    <string>afii10040</string>
    <string>afii10041</string>
    <string>afii10042</string>
    <string>afii10043</string>
    <string>afii10044</string>
    <string>afii10045</string>
    <string>afii10046</string>
    <string>afii10047</string>
    <string>afii10048</string>
    <string>afii10049</string>
    <string>afii10050</string>
    <string>Wgrave</string>
    <string>Wacute</string>
    <string>Wdieresis</string>
    <string>Ygrave</string>
    <string>Ohm</string>
    <string>increment</string>
    <string>uni03D2</string>
    <string>uni1E3E</string>
    <string>uni1E00</string>
    <string>Ohorn</string>
    <string>Uhorn</string>
    <string>uni0400</string>
    <string>uni040D</string>
    <string>uni0460</string>
    <string>uni0462</string>
    <string>uni0464</string>
    <string>uni0466</string>
    <string>uni0468</string>
    <string>uni046A</string>
    <string>uni046C</string>
    <string>uni046E</string>
    <string>uni0470</string>
    <string>uni0472</string>
    <string>uni0474</string>
    <string>uni0476</string>
    <string>uni0478</string>
    <string>uni0480</string>
    <string>uni048A</string>
    <string>uni048C</string>
    <string>uni048E</string>
    <string>uni0492</string>
    <string>uni0494</string>
    <string>uni0496</string>
    <string>uni0498</string>
    <string>uni049A</string>
    <string>uni049C</string>
    <string>uni049E</string>
    <string>uni04A0</string>
    <string>uni04A2</string>
    <string>uni04A4</string>
    <string>uni04A6</string>
    <string>uni04A8</string>
    <string>uni04AA</string>
    <string>uni04AC</string>
    <string>uni04AE</string>
    <string>uni04B0</string>
    <string>uni04B2</string>
    <string>uni04B4</string>
    <string>uni04B6</string>
    <string>uni04B8</string>
    <string>uni04BA</string>
    <string>uni04BC</string>
    <string>uni04BE</string>
    <string>uni04C0</string>
    <string>uni04C1</string>
    <string>uni04C3</string>
    <string>uni04C5</string>
    <string>uni04C7</string>
    <string>uni04C9</string>
    <string>uni04CB</string>
    <string>uni04CD</string>
    <string>uni04D0</string>
    <string>uni04D2</string>
    <string>uni04D4</string>
    <string>uni04D6</string>
    <string>uni04D8</string>
    <string>uni04DA</string>
    <string>uni04DC</string>
    <string>uni04DE</string>
    <string>uni04E0</string>
    <string>uni04E2</string>
    <string>uni04E4</string>
    <string>uni04E6</string>
    <string>uni04E8</string>
    <string>uni04EA</string>
    <string>uni04EC</string>
    <string>uni04EE</string>
    <string>uni04F0</string>
    <string>uni04F2</string>
    <string>uni04F4</string>
    <string>uni04F6</string>
    <string>uni04F8</string>
    <string>uni04FA</string>
    <string>uni04FC</string>
    <string>uni04FE</string>
    <string>uni0500</string>
    <string>uni0502</string>
    <string>uni0504</string>
    <string>uni0506</string>
    <string>uni0508</string>
    <string>uni050A</string>
    <string>uni050C</string>
    <string>uni050E</string>
    <string>uni0510</string>
    <string>uni0512</string>
    <string>uni1EA0</string>
    <string>uni1EA2</string>
    <string>uni1EA4</string>
    <string>uni1EA6</string>
    <string>uni1EA8</string>
    <string>uni1EAA</string>
    <string>uni1EAC</string>
    <string>uni1EAE</string>
    <string>uni1EB0</string>
    <string>uni1EB2</string>
    <string>uni1EB4</string>
    <string>uni1EB6</string>
    <string>uni1EB8</string>
    <string>uni1EBA</string>
    <string>uni1EBC</string>
    <string>uni1EBE</string>
    <string>uni1EC0</string>
    <string>uni1EC2</string>
    <string>uni1EC4</string>
    <string>uni1EC6</string>
    <string>uni1EC8</string>
    <string>uni1ECA</string>
    <string>uni1ECC</string>
    <string>uni1ECE</string>
    <string>uni1ED0</string>
    <string>uni1ED2</string>
    <string>uni1ED4</string>
    <string>uni1ED6</string>
    <string>uni1ED8</string>
    <string>uni1EDA</string>
    <string>uni1EDC</string>
    <string>uni1EDE</string>
    <string>uni1EE0</string>
    <string>uni1EE2</string>
    <string>uni1EE4</string>
    <string>uni1EE6</string>
    <string>uni1EE8</string>
    <string>uni1EEA</string>
    <string>uni1EEC</string>
    <string>uni1EEE</string>
    <string>uni1EF0</string>
    <string>uni1EF4</string>
    <string>uni1EF6</string>
    <string>uni1EF8</string>
    <string>Tcedilla</string>
    <string>uni0181</string>
    <string>uni0182</string>
    <string>uni0184</string>
    <string>uni0186</string>
    <string>uni0187</string>
    <string>uni0189</string>
    <string>uni018A</string>
    <string>uni018B</string>
    <string>uni018E</string>
    <string>uni018F</string>
    <string>uni0190</string>
    <string>uni0191</string>
    <string>uni0193</string>
    <string>uni0194</string>
    <string>uni0196</string>
    <string>uni0197</string>
    <string>uni0198</string>
    <string>uni019C</string>
    <string>uni019D</string>
    <string>uni019F</string>
    <string>uni01A2</string>
    <string>uni01A4</string>
    <string>uni01A6</string>
    <string>uni01A7</string>
    <string>uni01A9</string>
    <string>uni01AC</string>
    <string>uni01AE</string>
    <string>uni01B1</string>
    <string>uni01B2</string>
    <string>uni01B3</string>
    <string>uni01B5</string>
    <string>uni01B7</string>
    <string>uni01B8</string>
    <string>uni01BC</string>
    <string>uni01C4</string>
    <string>uni01C5</string>
    <string>uni01C7</string>
    <string>uni01C8</string>
    <string>uni01CA</string>
    <string>uni01CB</string>
    <string>uni01CD</string>
    <string>uni01CF</string>
    <string>uni01D1</string>
    <string>uni01D3</string>
    <string>uni01D5</string>
    <string>uni01D7</string>
    <string>uni01D9</string>
    <string>uni01DB</string>
    <string>uni01DE</string>
    <string>uni01E0</string>
    <string>uni01E2</string>
    <string>uni01E4</string>
    <string>uni01E6</string>
    <string>uni01E8</string>
    <string>uni01EA</string>
    <string>uni01EC</string>
    <string>uni01EE</string>
    <string>uni01F1</string>
    <string>uni01F2</string>
    <string>uni01F4</string>
    <string>uni01F6</string>
    <string>uni01F7</string>
    <string>uni01F8</string>
    <string>uni0200</string>
    <string>uni0202</string>
    <string>uni0204</string>
    <string>uni0206</string>
    <string>uni0208</string>
    <string>uni020A</string>
    <string>uni020C</string>
    <string>uni020E</string>
    <string>uni0210</string>
    <string>uni0212</string>
    <string>uni0214</string>
    <string>uni0216</string>
    <string>uni021C</string>
    <string>uni021E</string>
    <string>uni0220</string>
    <string>uni0222</string>
    <string>uni0224</string>
    <string>uni0226</string>
    <string>uni0228</string>
    <string>uni022A</string>
    <string>uni022C</string>
    <string>uni022E</string>
    <string>uni0230</string>
    <string>uni0232</string>
    <string>uni023A</string>
    <string>uni023B</string>
    <string>uni023D</string>
    <string>uni023E</string>
    <string>uni0241</string>
    <string>uni0243</string>
    <string>uni0244</string>
    <string>uni0245</string>
    <string>uni0246</string>
    <string>uni0248</string>
    <string>uni024A</string>
    <string>uni024C</string>
    <string>uni024E</string>
    <string>uni03D3</string>
    <string>uni03D4</string>
    <string>uni03D8</string>
    <string>uni03DA</string>
    <string>uni03DC</string>
    <string>uni03DE</string>
    <string>uni03E0</string>
    <string>uni03F4</string>
    <string>uni03F7</string>
    <string>uni03F9</string>
    <string>uni03FA</string>
    <string>uni03FD</string>
    <string>uni03FE</string>
    <string>uni03FF</string>
    <string>uni051A</string>
    <string>uni051C</string>
    <string>uni1E02</string>
    <string>uni1E04</string>
    <string>uni1E06</string>
    <string>uni1E08</string>
    <string>uni1E0A</string>
    <string>uni1E0C</string>
    <string>uni1E0E</string>
    <string>uni1E10</string>
    <string>uni1E12</string>
    <string>uni1E14</string>
    <string>uni1E16</string>
    <string>uni1E18</string>
    <string>uni1E1A</string>
    <string>uni1E1C</string>
    <string>uni1E1E</string>
    <string>uni1E20</string>
    <string>uni1E22</string>
    <string>uni1E24</string>
    <string>uni1E26</string>
    <string>uni1E28</string>
    <string>uni1E2A</string>
    <string>uni1E2C</string>
    <string>uni1E2E</string>
    <string>uni1E30</string>
    <string>uni1E32</string>
    <string>uni1E34</string>
    <string>uni1E36</string>
    <string>uni1E38</string>
    <string>uni1E3A</string>
    <string>uni1E3C</string>
    <string>uni1E40</string>
    <string>uni1E42</string>
    <string>uni1E44</string>
    <string>uni1E46</string>
    <string>uni1E48</string>
    <string>uni1E4A</string>
    <string>uni1E4C</string>
    <string>uni1E4E</string>
    <string>uni1E50</string>
    <string>uni1E52</string>
    <string>uni1E54</string>
    <string>uni1E56</string>
    <string>uni1E58</string>
    <string>uni1E5A</string>
    <string>uni1E5C</string>
    <string>uni1E5E</string>
    <string>uni1E60</string>
    <string>uni1E62</string>
    <string>uni1E64</string>
    <string>uni1E66</string>
    <string>uni1E68</string>
    <string>uni1E6A</string>
    <string>uni1E6C</string>
    <string>uni1E6E</string>
    <string>uni1E70</string>
    <string>uni1E72</string>
    <string>uni1E74</string>
    <string>uni1E76</string>
    <string>uni1E78</string>
    <string>uni1E7A</string>
    <string>uni1E7C</string>
    <string>uni1E7E</string>
    <string>uni1E86</string>
    <string>uni1E88</string>
    <string>uni1E8A</string>
    <string>uni1E8C</string>
    <string>uni1E8E</string>
    <string>uni1E90</string>
    <string>uni1E92</string>
    <string>uni1E94</string>
    <string>uni1F08</string>
    <string>uni1F09</string>
    <string>uni1F0A</string>
    <string>uni1F0B</string>
    <string>uni1F0C</string>
    <string>uni1F0D</string>
    <string>uni1F0E</string>
    <string>uni1F0F</string>
    <string>uni1F18</string>
    <string>uni1F19</string>
    <string>uni1F1A</string>
    <string>uni1F1B</string>
    <string>uni1F1C</string>
    <string>uni1F1D</string>
    <string>uni1F28</string>
    <string>uni1F29</string>
    <string>uni1F2A</string>
    <string>uni1F2B</string>
    <string>uni1F2C</string>
    <string>uni1F2D</string>
    <string>uni1F2E</string>
    <string>uni1F2F</string>
    <string>uni1F38</string>
    <string>uni1F39</string>
    <string>uni1F3A</string>
    <string>uni1F3B</string>
    <string>uni1F3C</string>
    <string>uni1F3D</string>
    <string>uni1F3E</string>
    <string>uni1F3F</string>
    <string>uni1F48</string>
    <string>uni1F49</string>
    <string>uni1F4A</string>
    <string>uni1F4B</string>
    <string>uni1F4C</string>
    <string>uni1F4D</string>
    <string>uni1F59</string>
    <string>uni1F5B</string>
    <string>uni1F5D</string>
    <string>uni1F5F</string>
    <string>uni1F68</string>
    <string>uni1F69</string>
    <string>uni1F6A</string>
    <string>uni1F6B</string>
    <string>uni1F6C</string>
    <string>uni1F6D</string>
    <string>uni1F6E</string>
    <string>uni1F6F</string>
    <string>uni1F88</string>
    <string>uni1F89</string>
    <string>uni1F8A</string>
    <string>uni1F8B</string>
    <string>uni1F8C</string>
    <string>uni1F8D</string>
    <string>uni1F8E</string>
    <string>uni1F8F</string>
    <string>uni1F98</string>
    <string>uni1F99</string>
    <string>uni1F9A</string>
    <string>uni1F9B</string>
    <string>uni1F9C</string>
    <string>uni1F9D</string>
    <string>uni1F9E</string>
    <string>uni1F9F</string>
    <string>uni1FA8</string>
    <string>uni1FA9</string>
    <string>uni1FAA</string>
    <string>uni1FAB</string>
    <string>uni1FAC</string>
    <string>uni1FAD</string>
    <string>uni1FAE</string>
    <string>uni1FAF</string>
    <string>uni1FB8</string>
    <string>uni1FB9</string>
    <string>uni1FBA</string>
    <string>uni1FBB</string>
    <string>uni1FBC</string>
    <string>uni1FC8</string>
    <string>uni1FC9</string>
    <string>uni1FCA</string>
    <string>uni1FCB</string>
    <string>uni1FCC</string>
    <string>uni1FD8</string>
    <string>uni1FD9</string>
    <string>uni1FDA</string>
    <string>uni1FDB</string>
    <string>uni1FE8</string>
    <string>uni1FE9</string>
    <string>uni1FEA</string>
    <string>uni1FEB</string>
    <string>uni1FEC</string>
    <string>uni1FF8</string>
    <string>uni1FF9</string>
    <string>uni1FFA</string>
    <string>uni1FFB</string>
    <string>uni1FFC</string>
    <string>uni2C60</string>
    <string>uni2C62</string>
    <string>uni2C63</string>
    <string>uni2C64</string>
    <string>uni2C67</string>
    <string>uni2C69</string>
    <string>uni2C6B</string>
    <string>uni2C6D</string>
    <string>uni2C72</string>
    <string>uni2C75</string>
    <string>uniA78B</string>
    <string>Eng.alt1</string>
    <string>Eng.alt2</string>
    <string>Eng.alt3</string>
    <string>uni0514</string>
    <string>uni0516</string>
    <string>uni0518</string>
    <string>uni051E</string>
    <string>uni0520</string>
    <string>uni0522</string>
    <string>uni0524</string>
    <string>uni0526</string>
    <string>LL-middleWelsh</string>
    <string>Mhook</string>
    <string>Germandbls</string>
    <string>Turneda</string>
    <string>V-middleWelsh</string>
    <string>Yloop</string>
    <string>uni2C70</string>
    <string>uni2C7E</string>
    <string>uni2C7F</string>
    <string>uniA722</string>
    <string>uniA724</string>
    <string>uniA726</string>
    <string>uniA728</string>
    <string>uniA72A</string>
    <string>uniA72C</string>
    <string>uniA72E</string>
    <string>uniA732</string>
    <string>uniA734</string>
    <string>uniA736</string>
    <string>uniA738</string>
    <string>uniA73A</string>
    <string>uniA73C</string>
    <string>uniA73E</string>
    <string>uniA740</string>
    <string>uniA742</string>
    <string>uniA744</string>
    <string>uniA746</string>
    <string>uniA748</string>
    <string>uniA74A</string>
    <string>uniA74C</string>
    <string>uniA74E</string>
    <string>uniA750</string>
    <string>uniA752</string>
    <string>uniA754</string>
    <string>uniA756</string>
    <string>uniA758</string>
    <string>uniA75A</string>
    <string>uniA75C</string>
    <string>uniA75E</string>
    <string>uniA760</string>
    <string>uniA764</string>
    <string>uniA766</string>
    <string>uniA768</string>
    <string>uniA76A</string>
    <string>uniA76C</string>
    <string>uniA76E</string>
    <string>uniA779</string>
    <string>uniA77B</string>
    <string>uniA77D</string>
    <string>uniA77E</string>
    <string>uniA780</string>
    <string>uniA782</string>
    <string>uniA784</string>
    <string>uniA786</string>
    <string>uniA78D</string>
    <string>uniA790</string>
    <string>uniA792</string>
    <string>uniA7A0</string>
    <string>uniA7A2</string>
    <string>uniA7A4</string>
    <string>uniA7A6</string>
    <string>uniA7A8</string>
    <string>uniA7AA</string>
    <string>uniA7AB</string>
    <string>uniA7AC</string>
    <string>uniA7AD</string>
    <string>uniA7AE</string>
    <string>uniA7AF</string>
    <string>uniA7B0</string>
    <string>uniA7B1</string>
    <string>uniA7B2</string>
    <string>uniA7B3</string>
    <string>uniA7B4</string>
    <string>uniA7B6</string>
    <string>Lcommaaccent.loclMAH</string>
    <string>Ncommaaccent.loclMAH</string>
    <string>Aogonek.loclNAV</string>
    <string>Eogonek.loclNAV</string>
    <string>Iogonek.loclNAV</string>
    <string>Uogonek.loclNAV</string>
    <string>uniA640</string>
    <string>uniA642</string>
    <string>uniA644</string>
    <string>uniA646</string>
    <string>uniA648</string>
    <string>uniA64A</string>
    <string>uniA64C</string>
    <string>uniA64E</string>
    <string>uniA650</string>
    <string>uniA652</string>
    <string>uniA654</string>
    <string>uniA656</string>
    <string>uniA658</string>
    <string>uniA65A</string>
    <string>uniA65C</string>
    <string>uniA65E</string>
    <string>uniA660</string>
    <string>uniA662</string>
    <string>uniA664</string>
    <string>uniA666</string>
    <string>uniA668</string>
    <string>uniA66A</string>
    <string>uniA66C</string>
    <string>uniA680</string>
    <string>uniA682</string>
    <string>uniA684</string>
    <string>uniA686</string>
    <string>uniA688</string>
    <string>uniA68A</string>
    <string>uniA68C</string>
    <string>uniA68E</string>
    <string>uniA690</string>
    <string>uniA692</string>
    <string>uniA694</string>
    <string>uniA696</string>
    <string>uniA698</string>
    <string>uniA69A</string>
    <string>uni0528</string>
    <string>uni052A</string>
    <string>uni052C</string>
    <string>uni052E</string>
    <string>Heta</string>
    <string>Archaicsampi</string>
    <string>Pamphyliandigamma</string>
    <string>KaiSymbol</string>
    <string>uni037F</string>
    <string>Cfraktur</string>
    <string>Hfraktur</string>
    <string>Ifraktur</string>
    <string>Rfraktur</string>
    <string>Zfraktur</string>
    <string>uniA762</string>
    <string>Bscript</string>
    <string>Hscript</string>
    <string>Iscript</string>
    <string>Lscript</string>
    <string>PiDoubleStruck</string>
    <string>Rscript</string>
    <string>TurnedF</string>
    <string>angstrom</string>
    <string>CDoubleStruck</string>
    <string>HDoubleStruck</string>
    <string>NDoubleStruck</string>
    <string>PDoubleStruck</string>
    <string>QDoubleStruck</string>
    <string>RDoubleStruck</string>
    <string>ZDoubleStruck</string>
    <string>ItalicDDoubleStruck</string>
    <string>GammaDoubleStruck</string>
    <string>eulerconstant</string>
    <string>kelvin</string>
    <string>Escript</string>
    <string>Fscript</string>
    <string>Mscript</string>
    <string>uniA796</string>
    <string>uniA798</string>
    <string>uniA79A</string>
    <string>uniA79C</string>
    <string>uniA79E</string>
  </array>
  <key>public.kern1.L_o</key>
  <array>
    <string>ae</string>
  </array>
  <key>public.kern1.L_period</key>
  <array>
    <string>comma</string>
    <string>period</string>
  </array>
  <key>public.kern2.R_o</key>
  <array>
    <string>ae</string>
  </array>
  <key>public.kern2.R_period</key>
  <array>
    <string>comma</string>
    <string>period</string>
  </array>
</dict>
</plist>
